[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
[mysqld_safe]
socket          = /var/run/mysqld/mysqld.sock
nice            = 0
[mysqld]
server-id 	= 1
max_connections = 4096
user            = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
port            = 3306
basedir         = /usr
datadir         = /dv/mysql
tmpdir          = /tmp
wait_timeout    = 172800 
lc-messages-dir = /usr/share/mysql
log_bin		= /var/log/mysql/mysql-bin.log
log-slow-queries=/var/log/mysql/log-slow-queries.log
skip-external-locking
bind-address            = 10.3.16.7
key_buffer              = 512M
max_allowed_packet      = 16M
thread_stack            = 1024K
thread_cache_size       = 512
myisam-recover         = BACKUP
query_cache_limit       = 1024M
query_cache_size        = 512M
log_error = /var/log/mysql/error.log
expire_logs_days        = 10
max_binlog_size         = 100M
table_cache		= 1024
innodb_thread_concurrency = 16
[mysqldump]
quick
quote-names
max_allowed_packet      = 160M
[mysql]
[isamchk]
key_buffer              = 512M
!includedir /etc/mysql/conf.d/
